<form method="post" action="{{ path('app_books_delete', {'id': book.id}) }}" onsubmit="return confirm('{{ 'confirm_delete_book_message'|trans }}');">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
  <button type="submit" class="btn btn-danger">{{ 'delete'|trans }}</button>
</form>
