{% extends 'base.html.twig' %}

{% block title %}Add new book{% endblock %}

{% block body %}
  <header class="text-center">
    <h1 class="h2">Add new book</h1>
  </header>

  {{ include(
    'books/_form.html.twig',
    {
      'submitButtonLabel': 'Add',
      'cancelButtonHref': path('app_books_index')
    }
  )}}
{% endblock %}
