{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <header class="text-center">
      <h1>Create new book</h1>
    </header>

    {{ include('books/_form.html.twig') }}

    <div class="buttons-container">
      <a href="{{ path('app_books_index') }}" class="btn btn-secondary form-button">Back to list</a>
    </div>
{% endblock %}
