{% for author in authors %}
  <a href="{{ path('app_authors_show', {'id': author.id}) }}" class="book-author link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{author}}</a>
  {% if author != authors.last %}
    ,
  {% endif %}
{% endfor %}
