{% extends 'base.html.twig' %}

{% block title %}Add new author{% endblock %}

{% block body %}
  <header class="text-center">
    <h1 class="h2">Add new author</h1>
  </header>

  {{ include(
    'authors/_form.html.twig',
    {
      'submitButtonLabel': 'add',
      'cancelButtonHref': path('app_authors_index')
    }
  )}}
{% endblock %}
