<div class="form-buttons sticky">
  <a href="{{ cancelButtonHref }}" class="btn btn-secondary form-button">{{ 'cancel'|trans }}</a>
  <button type="submit" class="btn btn-primary form-button">{{ submitButtonLabel|trans }}</button>
</div>