body {
  margin: 0;
  line-height: 1.3;
  font-size: 18px;
}

#main-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
}

.navbar {
  padding: 5px 0;
}

main {
  padding: 15px 5px;
}

input, select, textarea {
  font-size: 18px;
  border-radius: 5px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.toggle-theme {
  margin: 5px 5px 5px 0;
  padding: 5px;
  font-size: 16px;
}

.bi,
.theme-icon {
  --size: 1em;
  width: var(--size);
  height: var(--size);
  line-height: 1;
  font-size: inherit;
  vertical-align: -.125em;
  max-width: 100%;
}

html[data-bs-theme="dark"] .theme-icon.sun-icon,
html[data-bs-theme="light"] .theme-icon.moon-icon {
  display: none;
}

.form-control,
.form-check-input:not(:checked) {
  background-color: var(--bs-dark-bg-subtle) !important;
  border-color: transparent !important;
}

.dropdown-menu {
  padding: 8px;
  transition: opacity, visibility .2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  border-radius: var(--bs-dropdown-border-radius);
  transition: background-color, color .2s ease-in-out;
}

.section {
  padding: 20px 0;
  border-top: 1px solid #505050;
}

.card {
  border: 0;
  padding: 0;
  background-color: rgb(var(--bs-tertiary-bg-rgb)) !important;
}

.card > * {
  padding: 8px;
}

.card-img {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  line-height: 1;
  overflow: hidden;
}

.card-main-link {
  text-decoration: none;
  border: 0 !important;
}

.card-main-link:focus-visible,
.card-main-link:hover {
  background-color: rgb(var(--bs-secondary-bg-rgb), .75);
}

.card-main-link:active {
  background-color: rgba(var(--bs-secondary-bg-rgb)) !important;
}

.card-title {
  font-size: 19px;
  margin-bottom: 0;
}

.card-subtitle {
  margin-top: 0;
}

.img {
  border-radius: 10px;
}

.img-circled {
  border-radius: 50%;
}

.content-container {
  max-width: 600px;
}

.data-row {
  margin-bottom: 10px;
}

.data-row-title {
  color: var(--bs-secondary-color);
  font-size: 17px;
}

.data-row-content {
  font-size: 20px;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}
