body {
  margin: 0;
  line-height: 1.3;
  font-size: 18px;
}

#main-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
}

.navbar {
  padding: 5px 0;
}

main {
  padding: 15px 5px;
}

input, select, textarea {
  font-size: 18px;
  border-radius: 5px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.btn-check + .btn {
  border-color: transparent !important;
}

.nav-pills .nav-link {
  color: var(--bs-body-color);
  padding: 7px;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus-visible,
.btn-check + .btn:hover,
.btn-check:checked + .btn:hover,
.btn-check + .btn:focus-visible {
  background-color: rgb(var(--bs-tertiary-bg-rgb));
}

.btn-check:checked + .btn,
.btn-check + .btn:active {
  background-color: rgb(var(--bs-secondary-bg-rgb));
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:active {
  background-color: rgb(var(--bs-body-bg-rgb));
}

.toggle-theme {
  margin: 5px 5px 5px 0;
  padding: 5px;
  font-size: 16px;
}

.bi,
.theme-icon {
  --size: 1em;
  width: var(--size);
  height: var(--size);
  line-height: 1;
  font-size: inherit;
  vertical-align: -.125em;
  max-width: 100%;
}

.form-control,
.form-check-input:not(:checked) {
  background-color: var(--bs-dark-bg-subtle) !important;
  border-color: transparent !important;
}

.dropdown-menu {
  padding: 8px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.navbar .dropdown-menu {
  position: static;
}

.settings-dropdown {
  left: auto !important;
  right: 0;
}

.settings-dropdown > li {
  display: flex;
}

.locale-section {
  flex-direction: column;
}

.locale-section label {
  text-align: left;
}

.settings-dropdown > li > * {
  flex: 1;
}

@media (min-width: 576px) {
  .navbar .dropdown-menu {
    display: block !important;
    position: absolute;
  }
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  border-radius: var(--bs-dropdown-border-radius);
  transition: background-color .2s, color .2s ease-in-out;
}

.section {
  padding: 20px 0;
  border-top: 1px solid #505050;
}

.card {
  border: 0;
  padding: 0;
  background-color: rgb(var(--bs-tertiary-bg-rgb)) !important;
}

.card > * {
  padding: 8px;
}

.card-img {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  line-height: 1;
  overflow: hidden;
}

.card-main-link {
  text-decoration: none;
  border: 0 !important;
}

.card-main-link:focus-visible,
.card-main-link:hover {
  background-color: rgb(var(--bs-secondary-bg-rgb), .75);
}

.card-main-link:active {
  background-color: rgba(var(--bs-secondary-bg-rgb)) !important;
}

.card-title {
  font-size: 19px;
  margin-bottom: 0;
}

.card-subtitle {
  margin-top: 0;
}

.img {
  border-radius: 10px;
}

.img-circled {
  border-radius: 50%;
}

.content-container {
  max-width: 600px;
}

.image-preview {
  max-height: 300px;
}

.card {
  max-width: 350px;
}

.data-container {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(var(--bs-secondary-bg-rgb)) !important;
}

.user-photo {
  width: 1em;
  height: 1em;
  vertical-align: baseline !important;
}

img.user-photo {
  object-fit: cover;
  object-position: center;
}
