.book-container {
  max-width: 600px;
}

.book-image {
  text-align: center;
  height: 200px;
}

.book-info {
  margin-bottom: 10px;
}

.book-info-title {
  color: #b0b0b0;
  font-size: 17px;
}

.book-info-content {
  font-size: 20px;
}