{% extends 'base.html.twig' %}

{% block title %}Change email{% endblock %}

{% block body %}
  <article class="container content-container">
  <h1 class="text-center">Change email</h1>

  {% if not app.user.newEmail %}
    <div class="alert alert-success" role="alert">Your email address has been changed.</div>
    <div class="text-center">
      <a href="{{ path('app_home') }}" class="btn btn-secondary">Go to home</a>
    </div>
  {% else %}
    {% for flash_error in app.flashes('change_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <p class="text-center">Please confirm your change email request by clicking on link sent to your current email address.</p>

    <form method="post" class="text-center">
      <input type="hidden" name="token" value="{{ csrf_token('resend_email') }}">
      <button type="submit" class="btn btn-primary">Send email</button>
    </form>
  {% endif %}
  </article>

{% endblock %}