{% block stylesheets %}
  <link href="{{ asset('styles/user.css') }}" rel="stylesheet">
{% endblock %}

<header class="text-center">
  <h1 class="h2 mb-3"><a href="{{ path('app_user_show', {'user': user.id}) }}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-auto user-signature">
    {% if user.photo %}
      <span class="user-photo-container mb-1">
        <img src="{{ asset('assets/images/users/'~user.id~'/'~user.photo) }}" alt="photo" class="img img-circled user-photo">
      </span>
    {% endif %}
    <span class="user-name">{{ user.name }}</span>
  </a></h1>
</header>